@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Diary Items</h2>
<table>

@foreach (var item in Model)
{
    <tr>
        <td>@item.Title</td>
        <td>@item.Version</td>
        <td>@Html.ActionLink("Edit","Edit",new {id=item.Id})</td>
        <td>@Html.ActionLink("Delete","Delete",new {id=item.Id})</td>
    </tr>
}
</table>

@Html.ActionLink("Add","Add")